/********** css de resultat.php ************/
.table1{
    margin-top: 35px;
    margin-left: 120px;
    margin-right: 50px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-style: solid;
    border: 10px;
    width: 80%;
    text-align: center;
} 

.table1 td, .table1 th {
    border: 1px solid #11bb2e;
    padding: 8px;
  }
.td1{
    background-color: #26de81;
    width: 20px;
}

.table1  tr:nth-child(even){background-color: #fff7f7;}

.table1 tr:hover {background-color: #fffaea;}

.table1 th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    color: white;
  }

.supp{
    color: #ff8c34;
}
.modif{
    color: green;
}

.btn1{
    background-color: #26de81;
    float: right;
    margin-right: 235px; 
    margin-top: 15px; 
    margin-bottom: 20px;
    height: 33px;
    border: none;
}
:hover .btn1{
    background-color: #57e79f;
}
.btn2{
    background-color: #ff8c34;
    float: right;
    margin-right: -208px; 
    margin-top: 15px; 
    margin-bottom: 20px;
    height: 33px;
    border: none;
    width: 100px;
}
:hover .btn2{
    background-color: #ffa560;
}
/************************************************/
